---
import RootLayout from "../layouts/RootLayout.astro";
import Nav from "../components/Nav.astro";
import IntroHero from "../components/IntroHero.astro";
import GeneralPictures from "../components/GeneralPictures.astro";
import HouseList from "../components/HouseList.astro";
import CommonServices from "../components/CommonServices.astro";
import Location from "../components/Location.astro";
import VisitUs from "../components/VisitUs.astro";
import Contact from "../components/Contact.astro";
---

<RootLayout>
  <main>
    <Nav />
    <IntroHero />
    <GeneralPictures />
    <HouseList />
    <CommonServices />
    <Location />
    <VisitUs />
    <Contact />
  </main>
</RootLayout>
