---
import Map from "../ui/Map/Map";
---

<section class="max-w-6xl lg:px-0 px-4 m-auto lg:py-32">
  <div class="flex justify-end">
    <h1
      class="font-serif text-[3.5rem] pb-8 text-balance leading-[100%] lg:leading-[120%]"
    >
      Pocito, San Juan
    </h1>
  </div>

  <div class="">
    <div class="border-[1px] border-[#e6e6e6] rounded-[3px]">
      <Map client:only />
    </div>

    <p class="pt-10 text-[1.25rem] text-[#858585]">
      Alala Campo se encuentra por la Calle Chacabuco, entre calle 5 y calle 6.
      Pocito, San Juan.
    </p>
  </div>
</section>
