<head>
  <title>Alala Campo</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="Descripción de tu página aquí" />
  <meta name="keywords" content="tus, palabras, clave, aquí" />
  <meta property="og:title" content="El título de tu página aquí" />
  <meta property="og:description" content="Descripción de tu página aquí" />
  <meta property="og:image" content="URL de tu imagen aquí" />
  <meta property="og:url" content="URL de tu página aquí" />
  <meta name="twitter:card" content="summary_large_image" />
</head>
