---
import ParallaxCarousel from "../ui/ParallaxCarousel/ParallaxCarousel";
---

<section class="max-w-6xl m-auto py-24">
  <h1
    class="font-serif text-[3.5rem] pb-12 leading-[100%] lg:px-0 px-4 lg:leading[120%]"
  >
    Puntos de interés
  </h1>

  <ParallaxCarousel client:load />
</section>
